@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1> Sports Name</h1>
   @{
    <ol>
        <li> Cricket </li>
        <li> Football</li>
        <li> baseball </li>
        <li> bascketball</li>
       
    </ol> 
    <img src="image/baseballl.jpg" width="100" height="100"/>
        <img src="image/football.jpg"  width="100" height="510"/>
        <img src="image/cricket.jpg" width="100" height="510"/>
        <img src="image/download.jpg"  width="100" height="510"/>
    }
</div>
