@{
    ViewData["Title"] = "Product Galley Page";
}

<h>Catalog</h>
<hr/>
<div class="text-center"> 

 @{
        List<Product> allProducts=(List<Product>)ViewData["catalog"]; 
        <ol>
            @foreach(Product Rcompany  in allProducts){
                <li>@flower.Title</li>
            }
        </ol>
    } 
    <hr/>
</div>
